


.hero{

background-image: url(../images/Background.jpg);
height:70vh;
width:90%;
padding:80px;
margin:auto;
margin-top:80px;
border-radius:40px;
position: relative;
background-position: 'center';
background-size: 'cover';
background-repeat: 'no-repeat';

}

.hero_title{

margin:auto;
width:45%;

}

.image_title{


   background-color:white !important;
width:90%;
height:auto;
margin:auto;
margin-top: 40px;
padding:100px;
border-radius:40px;

padding-left: 10px;
padding-right: 10px;
border:1px solid rgb(195, 190, 190);
margin-bottom: 500px;

-webkit-box-shadow: 13px 12px 22px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 12px 22px -19px rgba(0,0,0,0.75);
box-shadow: 13px 12px 22px -19px rgba(0,0,0,0.75);

}

.img-responsive{

width: 100%;
height: 100%;


}


.text-success{
color:green;


}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 250px;
  background: white;
}

.swiper-slide img {
  /* display: block;
  width: 70%; */
  object-fit: cover;
  height: 110%;
  width: 120%;
}
.button3 {
font-size: 30px !important;
  padding: 8px 32px;
  height: 60px
}


.button {
   background-color: black; /* Green */
   border: none;
   color: white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   margin: 2px 1px;
   cursor: pointer;
   border-radius: 15px
 }

 .fd_title{

font-size: 10px !important;
display: flex;
justify-content: flex-start;
margin:10px 0px;
 }


 .herooff{

padding: 5px !important;


 }

 .text-success{

   color:rgb(28, 241, 28)   !important;

 }



/*  Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 

   .hero{

      background-image: url(../images/Background.jpg);
      height:50vh;
      width:85%;
      padding:50px;
      margin:auto;
      margin-top:20px;
      border-radius:30px;
      position: relative;
      background-position: 'center';
      background-size: 'cover';
      background-repeat: 'no-repeat';
      
      }







.hero_title{

   margin:auto;
   width:100%;
margin-left: 25px;
}

.image_title{

padding-right: 20px;
   background-color:white !important;
width:110%;
 height:auto;

margin-top: 10px;

border-radius:40px;


margin-right: 10px !important; 
border:1px solid rgb(195, 190, 190);



}





   .swiper {
      width: 150%;
      padding-top: 0px;
      padding-right: 100px;
    }
    
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 1000px;
      height: 200px;
      background: white;
      object-fit: cover;
    }
    
    .swiper-slide img {
      /* display: block;
      width: 70%; */
      object-fit: cover;
      height: 100%;
      width: 100%;
    }



.card_title{

margin-top: 20px;
letter-spacing: 2px;


}


  .four{
font-size: 30px  !important;
margin-left: 10px;


  }    

.twoone{

   font-size: 20px  !important;
   margin-left: 10px;
   font-weight: normal;


}


.text-success{
   color:rgb(28, 241, 28)   !important;
   font-size: 30px !important;
   padding-left: 25px !important;
   }




.about_text{

font-size: 20px !important;
letter-spacing: 1px;

font-weight: lighter !important;
}


.button3 {padding: 20px 5 0px;

   font-size: 20px !important;
   letter-spacing: 1px;

   font-weight: lighter !important;
   border-radius: 40px;

}











}
/* 
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */